.nav-link {
      position: relative;
      padding-bottom: 4px;
      transition: all 0.3s;
    }
    .nav-link::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 0%;
      background-color: #065f73;
      transition: width 0.3s;
    }
    .nav-link:hover::after {
      width: 100%;
    }
    .nav-link.active {
      font-weight: bold;
    }
    .nav-link.active::after {
      width: 100%;
    }